# dependencies
node_modules/
.pnpm-store/

# build output
dist/
src-tauri/target/
src-tauri/gen/schemas/

# editors
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.*.local

# secrets
oauth-credentials.json
